@import "../../variables.scss";

.songRow{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    background-color: $baseColor;
    border-radius: 10px;
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    &:hover {
        opacity: .8;
    }
    p{
        display: flex;
        justify-content: center;
        width: calc((100% - 20px) / 3); 
        &:nth-child(1){
            width: 20px;
            @media (max-width: $mobileSize) {
                width: 10px;
            }
        }

        @media (max-width: $mobileSize) {
            font-size: 12px;
        }
    }
}